<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
            <span class="align-middle">Tracket</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item" id="dashboard-tab">
                <a class="sidebar-link" href="/">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item" id="category-tab">
                <a class="sidebar-link" href="/Category">
                    <i class="align-middle" data-feather="list"></i> <span class="align-middle">Category</span>
                </a>
            </li>
            <li class="sidebar-item" id="expense-tab">
                <a class="sidebar-link" href="/Expense">
                    <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Expense</span>
                </a>
            </li>
            <li class="sidebar-item" id="income-tab">
                <a class="sidebar-link" href="/Income">
                    <i class="align-middle" data-feather="dollar-sign"></i> <span class="align-middle">Income</span>
                </a>
            </li>

            <li class="sidebar-item" id="bill-tab">
                <a class="sidebar-link" href="/Bill">
                    <i class="align-middle" data-feather="layers"></i> <span class="align-middle">Bills</span>
                </a>
            </li>
            <li class="sidebar-item" id="history-tab">
                <a class="sidebar-link" href="/History">
                    <i class="align-middle" data-feather="clock"></i> <span class="align-middle">History</span>
                </a>
            </li>

        </ul>

    </div>
</nav>

