
@{
    byte[] firstNamebytes = null;
    byte[] lastNameBytes = null;
    string firstName = "";
    string lastName = "";
    var isLoggedIn = Context.Session.TryGetValue("first_name", out firstNamebytes) && Context.Session.TryGetValue("last_name", out lastNameBytes);
    if (isLoggedIn) {
        firstName = System.Text.Encoding.UTF8.GetString(firstNamebytes);
        lastName = System.Text.Encoding.UTF8.GetString(lastNameBytes);
    }

}
<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle d-flex">
        <i class="hamburger align-self-center"></i>
    </a>


    <div class="navbar-collapse collapse">

        <ul class="navbar-nav navbar-align">
            @if (isLoggedIn)
            {
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                        <i class="align-middle" data-feather="plus"></i>
                    </a>

                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                        <i class="align-middle" data-feather="plus"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/Expense?isCreateScreen=true"><i class="align-middle mr-1" data-feather="credit-card"></i> Expense</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                        <i class="align-middle" data-feather="settings"></i>
                    </a>

                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                        <span class="text-dark">@firstName @lastName</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="pages-profile.html"><i class="align-middle mr-1" data-feather="user"></i> Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Account/Logoff">Log out</a>
                    </div>
                </li>

            }
            else
            {
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                        <i class="align-middle" data-feather="settings"></i>
                    </a>

                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                        <span class="text-dark">Account</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/Account/LoginRegister"><i class="align-middle mr-1" data-feather="user"></i> Log In</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            }
            </ul>
        </div>
</nav>
